<div>
<button mat-button routerLink (click)="logout()">logout</button>
</div>
<div fxLayout="row"  fxLayoutAlign="space-around start" fxLayoutGap="10px">
<div class="adding-settings-size" fxLayoutAlign="start stretch" fxLayoutGap="10px">
	<form [formGroup]="service.form">
		<mat-card>
			<mat-card-header>
      <img mat-card-image class="image-settings" [src]="service.urlUserPicture">
				<mat-card-title>
					Phonebook list
				</mat-card-title>
				<mat-card-subtitle>
					You can update your list by this form
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onChange($event)">
					<mat-form-field>
						<input formControlName="email"  matInput placeholder="email" value="">
          </mat-form-field>

          <mat-form-field>
						<input  formControlName="phone"  matInput placeholder="phone" value="">
          </mat-form-field>

           <mat-form-field>
          <input  formControlName="fullname"  matInput placeholder="full name" value="">
           </mat-form-field>
        </div>
  </mat-card-content>
      <button *ngIf="!submitButtonBoolean"  (click)="onSubmit($event)"type="submit" mat-raised-button color="primary">Add</button>
      <button *ngIf="submitButtonBoolean"  (click)="onSubmit($event)"  type="submit" mat-raised-button color="primary">Update</button>
    </mat-card>
  </form>
<br>

<cdk-virtual-scroll-viewport itemSize="20" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px"  class="virtual-scroll">
  <div *cdkVirtualFor="let phonebook of phonebook">
    <mat-card class="mb-2">
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <img mat-card-avatar [src]="phonebook.photo">
        <mat-card-title>{{ phonebook['fullname'] }}</mat-card-title>
        <mat-card-subtitle>{{ phonebook['phone'] }}</mat-card-subtitle>
        {{phonebook['email']}}
        <div>
          <mat-icon *ngIf="phonebook['isSpecial']" class="mat-icon-settings">enhanced_encryption</mat-icon>
          <mat-icon *ngIf="phonebook['isDuplicate']" class="mat-icon-settings">collections</mat-icon>
        </div>
      </mat-card-header>
        <mat-card-actions fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <button type="button" mat-raised-button color="primary" (click)="updateButton(phonebook)">EDIT</button>
          <button type="button" mat-raised-button color="warn" (click)="delele(phonebook)">DELETE</button>
          <button type="button" mat-raised-button color="warn" (click)="updateSpecialPhoneNumber(phonebook)">SPECIAL</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
