.mat-icon-setting{
  color:red;
}

.image-settings {
  height: 120px;
  width: 120px;
  margin-right: 5px;
  border-radius: 100px;
}

.virtual-scroll {
  height: auto;
  width: 100%;
}

.adding-settings-size {
  width: 70%;
  min-width: 60%;
}

.mb-2 {
  margin-bottom: 5px;
}